.navbar{
  margin-left: 300px;
  position: relative;
  background-color: white;
}
body{
  background-color: #F7F7F8;
  width: 100%;
}
.navbar-brand{
  color: #9e9e9e;
}
.form-inline{
  margin: 0 10px;
}
.navbar-nav{
  margin-right: 20px;

}
.invisible1{
  display: none;
}
.boxm{

  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 25px;
  margin-left: 310px;
  background-color: white;
  line-height: 2;
  padding: 25px;
}
.cf{
  color: white;
  background-color: #ab47bc;
  border-color: #ab47bc;
}
.cf:hover{
  color: white;
  background-color: #8e24aa;
  border-color: #8e24aa;
}

.nav-item{
  margin-left: 20px;
  font-size: 1.2rem;
}
.nav-item:hover{
  color: #A427CE;
  margin-left: 20px;
  font-size: 1.2rem;
}
.tssf{
  color: #6a1b9a;
  font-weight: bold;
}
.invisible2{
display: none;
}
.invisible3{

}
.rotate {
  animation: rotation 3s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



@media (max-width: 800px) {
  .nav-item {
    margin-left: 20px;
    font-size: 1rem;
  }

  .nav-item:hover {
    color: #A427CE;
    margin-left: 20px;
    font-size: 1rem;
  }
  .btn{
    font-size: 12px;
  }
body{
  background-color: #A727D2;}

.boxm{
  margin-left: 10px;
  font-size: 12px;
}
.invisible2{
  display: list-item;
}
.invisible3{

 display: none;
}
.rotate {
  animation: rotation 3s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.invisible1{
  display: list-item;
}
.side{
  display: none;
}
.navbar{
  margin-left: 20px;
  margin-right: 20px;
}
}
.side{
  position: fixed;
  width: 300px;
  top: 0;
  height: 100%;
  text-align: center;
  background: url(images/app.js.png)no-repeat center center fixed;
  left: 0;
  background-color: #ab47bc;
  height: 100%;
}
.side1 {
  position: fixed;
  width: 300px;
  top: 0;
  text-align: center;
  right: 0;
  z-index: 1;
  background-color: white;
  height: 100%;
  overflow: auto;

}
h3{
  padding: 10px;
  color: white;
  font-size: 2rem;
  font-family: 'Leckerli One', cursive;
}
hr{
  margin-top: -1px;
  background-color: white;
  color: white;
}
li{

  font-size: 10px;
  margin: 5px;
}

.items{
  margin: 20px 10px;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  text-align: left;
  text-decoration: none;
  border-radius: 5px;
}
.items:hover{
  margin: 20px 10px;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  background-color: #ce93d8;
}
.lis{
  text-decoration: none;
  color: white;

}
.lis:hover{

  text-decoration: none;
  color: white;

}
.active2{
  border-radius: 5px;
  background-color: #ce93d8;
}
ul{
    margin-left: -10%;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}
.space{
  opacity: 80%;
  margin: 0 50px 0 40px;

}

.shadow{
  -webkit-box-shadow: 3px 2px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 2px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 2px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.data1{
  background-color: #F7F7F8;
  height: 300px;
  border-radius: 15px;
  margin: 20px auto;
}
.data2{
  background-color: #F7F7F8;
  height: 300px;
  border-radius: 15px;
  margin: 20px auto;
}
.data3{
  background-color: #F7F7F8;
  height: 300px;
  border-radius: 15px;
  margin: 20px auto;
}
.topright{
  right: 10px;
  margin-bottom: 25px;
}
.mix1{
  margin-right:  -5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.mix2{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 5px;
}
.footer{
  text-align: center;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin: auto auto;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 15px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar1 {
  visibility: hidden;
  min-width: 250px;
  margin: auto auto;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 15px;
}

#snackbar1.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.alert{
  display:inline-block;
  background-color: #A829D2;
  text-align: left;
  width: 300px;
}

h5{
  color: white;
}
.fas1{
  margin-top: 10px;
  position: absolute;
  right: 25px;
  color: white;
}

.full{
  height: 657px;
}
.A {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    width: auto;
    height: auto;
    z-index: 1;
    position: absolute;
}
.classname{
  color: white;
  margin: 20px 20px 20px 10px;
  padding: 20px;
  background-color: #A829D2;
  z-index: 1;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#notification{
  text-align: left;
  overflow: auto;
}
.classname2{
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: -16px;

}
.center1{
  margin: 100px 75px 100px 75px;
  position:absolute;

}
.badge {
  position: absolute;
  top: 26px;
  right: 95px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}
#refs{
  width: 100%;
}
#ses:hover{
  display: hidden;
}
.clockdate-wrapper {
    background-color: #333;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:15px;
    margin:0 auto;
    margin-top:15%;
    margin-bottom:15%;
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:5px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}
.weather{
  margin: 55px auto;
  padding: 10px;
}
